<p>您好，<%= @resource.email %>!</p>

<p>若您有要求要變更密碼，且您確定要變更密碼，請點選以下連結：</p>

<p><%= link_to '變更我的密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您不須變更密碼，請忽略這封信，我們將不會變更您的密碼！</p>
